<h2>Welcome to the Sweep Stake!</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Prediction:</strong>
    <%= @user.prediction %>
  </li>

  <li>
    <strong>Your Sweep Stake Entries:</strong>
    <%= @contestants %>
  </li>
</ul>


<%= link "See who everyone's got", to: page_path(@conn, :index) %>
