<h2>Who's got whom?</h2>

<table class="table">
  <thead>
    <tr><th>Contestant</th><th>Who</th></tr>
    <%= for contestant <- @contestants do %>
      <tr>
        <td><%= contestant.name %></td>
        <%= if contestant.user do %>
        <td><%= contestant.user.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
